<h1 class="display-5">{{ title }} employee</h1>
<hr />

<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <form
          #employeeForm="ngForm"
          (ngSubmit)="employeeForm.form.valid && onEmployeeFormSubmit()"
          novalidate
        >
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="employee.name"
              name="name"
              #name="ngModel"
              required
            />
            <span
              class="text-danger"
              *ngIf="employeeForm.submitted && name.errors?.['required']"
            >
              Name is required
            </span>
          </div>
          <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select
              placeholder="Select Gender"
              class="form-control"
              [(ngModel)]="employee.gender"
              name="gender"
              #gender="ngModel"
              required
            >
              <option value="">-- Select Gender --</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <span
              class="text-danger"
              *ngIf="employeeForm.submitted && gender.errors?.['required']"
            >
              Gender is required
            </span>
          </div>
          <div class="mb-3">
            <label for="department" class="form-label">Department</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="employee.department"
              name="department"
              #department="ngModel"
              required
            />
            <span
              class="text-danger"
              *ngIf="employeeForm.submitted && department.errors?.['required']"
            >
              Department is required
            </span>
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <select
              class="form-control"
              [(ngModel)]="employee.city"
              name="city"
              #city="ngModel"
              required
            >
              <option value="">-- Select City --</option>
              <option
                *ngFor="let city of cityList$ | async"
                value="{{ city.cityName }}"
              >
                {{ city.cityName }}
              </option>
            </select>
            <span
              class="text-danger"
              *ngIf="employeeForm.submitted && city.errors?.['required']"
            >
              City is required
            </span>
          </div>
          <div class="form-group" align="end">
            <button type="submit" class="btn btn-primary me-2">Save</button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="navigateToHome()"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
