<nav class="navbar navbar-expand-lg navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Home</a>
    <span class="spacer"></span>
    <ng-container *ngIf="appUser$ | async as appUser; else login">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/add-employee']"
            >Add employee</a
          >
        </li>

        <img class="user-avatar" src="{{ appUser.photoURL }}" />
        <li class="nav-item">
          <a class="nav-link active" (click)="userLogout()">Logout</a>
        </li>
      </ul>
    </ng-container>
    <ng-template #login>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" (click)="userLogin()">Login</a>
        </li>
      </ul>
    </ng-template>
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item">
        <a
          class="nav-link active"
          href="https://github.com/AnkitSharma-007/angular-firebase-crud"
          target="_blank"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</nav>
